@tailwind base;
@tailwind components;
@tailwind utilities;

.login, .register {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login {
    background-image: url('/src/assets/login.png');
    
}
.register {
    background-image: url('/src/assets/register.jpg');
}
.form {
    background: linear-gradient(#000000a2, #000000c0);
}

.slide1 {
    background-image: linear-gradient(#0000003f, #00000049), url('/src/assets/img-1.jpg');       
}
.slide2 {
    background-image: linear-gradient(#0000003f, #00000049), url('/src/assets/register.jpg');          
}
.slide3 {
    background-image: linear-gradient(#0000003f, #00000049), url('/src/assets/login.png'); 
}
.slide4 {
    background-image: linear-gradient(#0000003f, #00000049), url('/src/assets/register.jpg');
}
.slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}