@tailwind base;
@tailwind components;
@tailwind utilities;

.login, .register {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login {
    background-image: url('/src/assets/login.png');
    
}
.register {
    background-image: url('/src/assets/register.jpg');
}
.form {
    background: linear-gradient(#000000a2, #000000c0);
}

.slide1 {
    background-image: linear-gradient(#0000003f, #00000049), url('/src/assets/img-1.jpg');       
}
.slide2 {
    background-image: linear-gradient(#0000003f, #00000049), url('/src/assets/register.jpg');          
}
.slide3 {
    background-image: linear-gradient(#0000003f, #00000049), url('/src/assets/login.png'); 
}
.slide4 {
    background-image: linear-gradient(#0000003f, #00000049), url('/src/assets/register.jpg');
}
.slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination {
  position: static !important;
}

.autoplay-progress {
  color: #ffffff !important;
}

.swiper-button-prev, .swiper-button-next {
  color: white !important;
  border: 1px solid white !important;
  border-radius: 50% !important;
  padding: 10px !important;
  width: 50px !important;
  height: 50px !important;
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 15px !important;
  
}
.swiper-button-prev {
  left: 95% !important;
  top: 38% !important;
}



.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: white;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
